body {
    background: #000B2E;
    font-size: 60px;
    color: aliceblue;     
    font-family: 'IBM Plex Serif', serif;
}


img.border-o {
  border: 5px solid darkorange;
}

img.border-b {
    filter: brightness(1.9) contrast(1.2)
    /* you need to match the shadow color to your background or image border for the desired effect*/
    box-shadow: 0 0 8px 8px grey inset;
}

p, li {
    font-size:24px;
}

h1 {
    text-shadow: 0 0 3px #FFFFFF, 0 0 5px #0000FF;
    font-size: 70px;
    font-family: 'Anton', sans-serif;
}


/* tables */
table {
  width: 1000px;
  border = "0"
  
}

td.fancyBorder{
    background: orange;
    border: 5px solid darkorange;
}

table {align: "center"}
table {border-collapse:collapse}


td {
  width: 25% ;
  background-color: #000B2E;
    overflow:hidden;
    text-overflow:ellipsis;
    word-wrap: break-word;
}


/*links*/

/* unvisited link */
a:link {
  color: salmon;
}

/* visited link */
a:visited {
  color: orange;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: sandybrown;
}